* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(72, 163, 0, 0.07);
  font-family: "Poppins";
}

main {
  margin: 0 16px 32px;
}

.title {
  font-size: 4rem;
  color: #48a300;
  text-align: center;
  margin: 2rem 1rem;
}

.title span {
  color: #61481c;
}

.app-container {
  background-color: #fbfbfb;
  max-width: 660px;
  margin-inline: auto;
  border-radius: 15px;
  padding: 32px 48px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.sun-icon {
  vertical-align: middle;
  margin-left: 1rem;
  animation: rotation 2s ease-in 0s infinite normal;
  animation-timing-function: linear;
}

@keyframes rotation {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.progress-label {
  font-size: 14px;
  color: #858585;
  margin-bottom: 20px;
}

.progress-bar {
  height: 20px;
  background-color: rgba(72, 163, 0, 0.1);
  border-radius: 15px;
}

.progress-value {
  height: 20px;
  width: 66%;
  background-color: #48a300;
  border-radius: 15px;
  font-weight: 500;
  font-size: 10px;
  color: #eeffe0;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.error-label {
  color: #ff5151;
  font-size: 14px;
  margin-block: 20px;
}

.error-label-visibility {
  visibility: hidden;
}

.goal-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 17px;
  height: 82px;
  display: flex;
  align-items: center;
  padding: 0 22px;
  background-color: #ffffff;
  margin-bottom: 42px;
}

.custom-checkbox {
  height: 24px;
  width: 24px;
  border: 2px solid rgba(97, 72, 28, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  flex-shrink: 0;
  cursor: pointer;
}

.goal-input {
  margin-left: 22px;
  font-family: inherit;
  font-size: 16px;
  border: none;
  outline: none;
  flex-grow: 1;
  align-self: stretch;
  justify-self: stretch;
}

.goal-input::placeholder {
  color: #d9d9d9;
}

.quote {
  font-weight: 500;
  text-align: center;
}

.made-with {
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  color: #5a5a5a;
  margin-top: 64px;
  font-size: 0.8rem;
}

.completed .custom-checkbox {
  background-color: #48a300;
  border-color: #48a300;
}

.check-icon {
  display: none;
}

.completed .check-icon {
  display: block;
}

.strike {
  color: #48a300;
  text-decoration: line-through;
}

.progress-value-0 {
  width: 100%;
  color: #5a5a5a;
  background-color: #fff;
  border: 1px solid #c9c6c6;
}

.progress-value-1 {
  width: 33%;
  background-color: #48a300;
  color: #fff;
}

.progress-value-2 {
  width: 66%;
  background-color: #48a300;
  color: #fff;
}

.progress-value-3 {
  width: 100%;
  color: #fff;
  background-color: #48a300;
}

#subtitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resetBtn {
  height: 30px;
  padding: 3px 10px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  word-spacing: 2px;
  letter-spacing: 1px;
  background-color: #ff1616;
  border-radius: 12px;
  border: none;
}

.visibility {
  visibility: hidden;
}

.resetBtn:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }

  .app-container {
    padding: 16px 32px;
  }

  .goal-container {
    height: 64px;
    margin-bottom: 24px;
    border-radius: 14px;
  }

  .custom-checkbox {
    height: 1rem;
    width: 1rem;
  }

  .made-with {
    margin: 15px;
  }
}

@media (max-width: 421px) {
  .app-container {
    padding: 16px 16px;
  }
}

@media (max-width: 370px) {
  .goal-input {
    width: 20px;
  }

  .progress-label {
    text-align: center;
  }
}
